<! All the code in the application.html file is common to all the pages in the website, like header and footer>
<! Other HTML files like home.html.erb is rendered in place of yield found below>

<!DOCTYPE html>
<html>
<head>
  <title>MyRecipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<! here we moved the header section to the navigation partial to clean the code. We then replaced it with the following code>
  <%= render 'layouts/navigation' %>

  <div class="container">
    <%= yield %>
<! here we moved the footer section to the footer partial to clean the code. We then replaced it with the following code>    
    <%= render 'layouts/footer' %>
  </div>

</body>
</html>
